@charset "UTF-8";

/*
    id - #
    class - .
*/

body {
    background-color: #D2F0CB;
    font-family: Arial;
}

h1 {
    color: #399E15;
}

h1#principal {
    text-align: center;
    background-color: #2D7C10;
    color: white;
}

h2 {
    color: #215A0C;
}

.intermediario {
    color: #6f700d;
}

.avancado {
    color: #5a0c0c;
}